<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Freshers' week - {{ department.name }}</title>
    <link rel="stylesheet" href="/static/app/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header class="header">

        <img src='../static/img/logo_luiss.png' class="header_logo">
       
        <ul class="header_menu">
            <li class="header_menu_item"><a href='/app/'>Opportunities</a></li>
            <li class="header_menu_item"><a href="/app/courses/">Courses</a></li>
            <li class="header_menu_item"><a href="/app/events/">Events</a></li>
        </ul>

    </header>

    <section class="banner">

        <div class="banner_title">
            <div class="banner_title_copy">
                <h1>{{ department.name }}</h1>
                <h3>at Freshers' week</h3>
            </div>
        </div>
     
    </section>

    <section>

        <div class="path">
            <h5 class="path_item"><a href='/app/'>Opportunities</a> > <a href="/app/{{ department.pk }}">{{ department.name }}</a></h5>
        </div>

    </section>

    <section>

        <div class="text_block">

            <p class="text">
            {{ department.description }}
            <p>
        
        </div>

        <div class="text_block">
            <h3>Which event are you interested in?</h3>
        </div>

        <div class="selectables">

            {% for event in events %}
                <div class="selectable">
            
                    <img src='{{ event.image.url }}' class="selectable_image" alt="event.image">
                    <div class="selectable_copy">
                        <h3>{{event.name}}</h3>
                        <a href='/app/events/{{ event.pk }}' class="button">For More</a>
                    </div>
                
                </div>
            {% endfor %}
        
        </div>
    
        <div class="text_block">

            <h3>
                Which course are you interested in?
            </h3>

        </div>

        <div class="selectables">

            {% for course in courses %}
                <div class="selectable">
            
                    <div class="selectable_copy">
                        <h3>{{course.name}}</h3>
                        <a href='/app/courses/{{ course.pk }}' class="button">For More</a>
                    </div>
                
                </div>
            {% endfor %}
        
        </div>

    </section>

    <footer class="footer">
        <small>©2022 Author. Design by MCL&MS</small>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src='/static/script.js'></script>

</body>
</html>