<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Freshers' week - Events</title>
    <link rel="stylesheet" href="/static/app/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header class="header">

        <img src='../../static/img/logo_luiss.png' class="header_logo">
       
        <ul class="header_menu">
            <li class="header_menu_item"><a href='/app/'>Opportunities</a></li>
            <li class="header_menu_item"><a href="/app/courses/">Courses</a></li>
            <li class="header_menu_item"><a href="/app/events/">Events</a></li>
        </ul>

    </header>

    <section class="banner">

        <div class="banner_title">
            <div class="banner_title_copy">
                <h3>Freshers' week</h3>
                <h1>Events</h1>
            </div>
        </div>
     
    </section> 
    
    <section>

        <div class="text_block">

            {% if flag == True %}
                <h3>Events of today:</h3>
            {% endif %}

        </div>

        <section class="events">

            {% for event in events %}
                {% if event.datetime.date == today %}
                <div class="event">            
                    <img src='{{ event.image.url }}' class="event_image" alt="event.image">
                    <div class="event_copy">
                        <h4>{{ event.datetime }}</h4>
                        <h3>{{ event.name }}</h3>
                        <h3>{{ event.department }}</h3>
                        <a href='/app/events/{{ event.pk }}' class="button">For More</a>
                    </div>
                </div>
                {% endif %}            
            {% endfor %}

        </section>

        <div class="text_block">

            <h3>All events:</h3>

        </div>

        <section class="events">

            {% for event in events %}
                <div class="event">            
                    <img src='{{ event.image.url }}' class="event_image" alt="event.image">
                    <div class="event_copy">
                        <h4>{{ event.datetime }}</h4>
                        <h3>{{ event.name }}</h3>
                        <h3>{{ event.department }}</h3>
                        <a href='/app/events/{{ event.pk }}' class="button">For More</a>
                    </div>
                </div>
            {% endfor %}

        </section>

    </section>

    <footer class="footer">
        <small>©2022 Author. Design by MCL&MS</small>
    </footer>

    <script src='/static/script.js'></script>

</body>
</html>