<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Freshers' week - Opportunities</title>
    <link rel="stylesheet" href="/static/app/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header class="header">

        <img src='../static/img/logo_luiss.png' class="header_logo">
       
        <ul class="header_menu">
            <li class="header_menu_item"><a href='/app/'>Opportunities</a></li>
            <li class="header_menu_item"><a href="/app/courses/">Courses</a></li>
            <li class="header_menu_item"><a href="/app/events/">Events</a></li>
        </ul>

    </header>

    <section class="banner">

        <div class="banner_title">
            <div class="banner_title_copy">
                <h3>Freshers' week</h3>
                <h1>Opportunities</h1>
            </div>
        </div>
     
    </section>
    
    <section>
        
        <div class="path">
        <h5 class="path_item"><a href='/app/'>Opportunities</a></h5>
        </div>
    
    </section>

    <section>

        <div class="text_block">

            <p class="text">
            Freshers week is a welcome period for new students starting out at universities. It’s a chance to make friends, blow off steam, and learn more about your course, campus and clubs.
            It’s really a ‘getting to know you’ time for you to meet your new town, campus, course-mates, and flat-mates.
            Freshers week is a welcome period for new students starting out at universities. It’s a chance to make friends, blow off steam, and learn more about your course, campus and clubs.
            It’s really a ‘getting to know you’ time for you to meet your new town, campus, course-mates, and flat-mates.
            </p>

        </div>

        <div class="text_block">

            <h3>Which department are you interested in?</h3>

        </div>

        <div class="selectables">

            {% for department in departments %}
                <div class="selectable">
            
                    <img src='{{ department.image.url }}' class="selectable_image" alt="department.image">
                    <div class="selectable_copy">
                        <h3>{{department.name}}</h3>
                        <a href='/app/{{ department.pk }}' class="button">For More</a>
                    </div>
                
                </div>
            {% endfor %}

        </div>

    </section>

    <footer class="footer">
        <small>©2022 Author. Design by MCL&MS</small>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src='/static/script.js'></script>

</body>
</html>