html,body{font-family: Verdana; height: 100%; margin: 0%;}

.header {background-color:white; height: 7.5%;}
.header_logo {float: left; padding: 12.5px; width: 130px;}
.header_menu {float: right; margin: 0;}
.header_menu_item {display: inline-block;}
.header_menu_item a { color:#00437a; display: block; padding: 20px; text-decoration: none;}
.header_menu_item a:hover {background:lightblue;}

.banner {height: 42.5%; background-image: url("../img/Title.jpg"); background-size: cover; background-position: center;}
.banner_title {display: table; height: 100%; width: 100%;}
.banner_title_copy {display: table-cell; vertical-align: middle; text-align: center;color: white; text-decoration: none;}

.path {text-align: left; text-decoration: none; display: inline; margin: 10px; color: lightskyblue;}
.path_item {display: inline-block;}
.path_item a { color: #00437a; text-decoration: none;}
.path_item a:hover {color: lightskyblue;}

.text_block{padding:20px; text-align: justify;}
.text {text-decoration: none; display: inline;}

.selectables {max-width: 100%; margin: 10px; display: flex; flex-wrap: wrap;}
.selectable { width: 21.8%; max-height: fit-content; margin: 0 1.5%; background: white; float: left;border: #00437a 1px solid; margin-bottom: 10px;}
.selectable_image {width: 100%; height: 60%;}
.selectable_copy {max-width: fit-content; padding: 5px; margin-bottom: 3%;}

.events {max-width: 1200px; margin: 10px auto; display: flex; flex-wrap: wrap;}
.event {width: 100%; height: 225px; margin: 0 1.5%; background: white; float: center;border: #00437a 1px solid; margin-bottom: 10px; overflow: auto; display: flex}
.event_image {width: 30%; height: 100%;}
.event_copy {width: 70%; padding: 5px; margin-bottom: 3%;}
.event_copy h3 {margin: bottom 0;}
.event_copy h4 {margin: bottom 0; float: right}

.button {display: inline; background: lightskyblue; color: white; padding: 5px 10px;border-radius: 3px; text-decoration: none; margin: auto;}
.button:hover {background: lightgrey;}

.footer{color: lightgray; display: block; border-top: lightgray 1px solid; text-align: center; padding: 2%; margin: 5% 5%;}